.formulario__checkbox-container {
  background: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 16px rgb(170, 188, 214);
  width: 100% !important;
  border: 2px solid transparent;
}
.formulario__checkbox-container:focus,
.formulario__checkbox-container:focus-within,
.formulario__checkbox-container:hover,
.formulario__checkbox-container:active {
  position: relative;
  top: -1px;
  box-shadow: 0 0 32px #0a6bf363;
}
.formulario__checkbox-container {
  transform: rotate(360deg);
}

input[type="checkbox"] {
  width: 24px !important;
  height: 24px !important;
}

input[type="checkbox"]:hover {
  border-color: red;
}
