.grupo-de-imagens {
  display: flex;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.grupo-de-imagens__item {
  margin: 8px;
  width: calc(33.33% - 16px);
  border-top: 2px solid lightgray;
}

.grupo-de-imagens__imagem {
  width: 100%;
  padding-top: 16px;
}

@media screen and (max-width: 1000px) {
  .grupo-de-imagens {
    flex-direction: column;
  }
  
  .grupo-de-imagens__item {
    width: calc(100% - 16px);
  }
}

.formulario__radio-container {
  padding: 8px;
  margin-top: 8px;
  width: 100%;
}